

<div class= "dialog">
 These are all the appointments you have made
</div>
<div id="accordion">
  
  <% @events.each do |event| %>
   <h3><a href="#"><%= event.name %></a></h3>
   <div>
   		<p>
   		  From:<%= event.fromtime.strftime("%B %d at %I:%M %p") %> To <%= event.totime.strftime("%B %d at %I:%M %p") %>
   		</p>
   	</div>	  
  <% end %>
</div>

<br />

<%= link_to 'New Event', new_event_path %>
