<div class="dialog">
<p>Hello! Welcome to Friendly CRM! Would you care to sign in please?</p>
</div>
<%=link_to "Sure!", new_user_session_path %></br>
<%=link_to "I've never been here before", new_user_registration_path %></br>

