<div class="dialog">
<p>Hello <%=current_user.name%>, What would you like to do today?</p>
</div>
<%=link_to "I have an appointment to make", new_event_path %></br>
<%=link_to "I met someone today", new_contact_path %></br>
<%=link_to "I have a task to do", new_task_path %></br>

