<!DOCTYPE html>
<html>
<head>
  <title>Friendlycrm</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrap">
  <div id="face1_hype_container" style="display:inline;position:relative;overflow:hidden;width:600px;height:400px;">
  	<script type="text/javascript" charset="utf-8" src="/assets/javascripts/face1_hype_generated_script.js"></script>
  </div>

  <div id="textspace">
<%= yield %>
  </div>
</div>


</body>
</html>
